<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BarterBuddy - {{title}}</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body class="{{themePreference}}">
<main>
    <nav id="nav">
        <ul>
            {{#each navLinks}}
                <li><a class={{this.class}} href="{{this.url}}">{{this.label}}</a></li>
            {{/each}}
        </ul>
    </nav>
    {{> error}}
    <h1>{{title}}</h1>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src='/public/js/client_side_validation.js' defer></script>
    <script src='/public/js/client_side_dialog.js'></script>
</main>
</body>
</html>