

<!DOCTYPE html>
<html lang = "en">
   <head>
      <meta charset="utf-8">
      <title>{{title}}</title>
      <link rel="stylesheet" href="../../public/css/styles.css">
   </head>
   <body class="{{themePreference}}">
   <main>
    <ul id="nav">
        {{#each nav}}
        <li><a href="{{this.link}}">{{this.text}}</a></li>
        {{/each}}
    </ul>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src='../public/js/client_side_validation.js'></script>
   </main>
   </body>
</html>