{{!renders the view of an individual text chain between the user and the other user}}
<ol id="dm">
    {{#each messages}}
    <li>
        <div>
            <label for="content" id="sender">{{this.sender}}</label>
            <p id="content">{{content}}</p>
            <p id="timestamp">{{timestamp}}</p>
        </div>
    </li>
    {{/each}}
</ol>

<form id="messageBox">
    <input id="dmId" type="hidden" name="dmId" value="{{id}}" >
    <input id="senderId" type="hidden" name="senderId" value="{{senderId}}" >

    <label for="messageInput">Your Message:</label><br>
    <textarea id="messageInput" name="messageInput" required></textarea><br>

    <button type="submit">Send Message</button>

</form>

<script src="public/js/client_side_dialog.js"></script>