{{!shows all the items in the community, as per our deliverables}}
{{#if auth}}
    {{> add_profile_item_json}}
{{/if}}

<ul id="communityItemsErrors" class="error"></ul>
<div class="search-bar-filter">
    <form id="filterForm" action="/items" method="POST">
        <label for="filterSelect">Sort/Filter:</label>
        <select name="filter" id="filterSelect">
            <option value="">Select Filter</option>
            <option value="value">By Value</option>
            <option value="name">Alphabetically</option>
            <option value="followedUsers">By Followed User</option>
        </select>
        <input type="submit" value="Apply">
    </form>
</div>
<div id="communityItemsList"> {{!Where I found how to do the drop down: https://www.w3schools.com/html/html_form_elements.asp}}
{{#each items}}
    <div>
        <h2><a href="/items/{{_id}}">{{name}}</a></h2>
        <dl>
            <dt>Description: </dt>
            <dd>{{desc}}</dd>
            <dt>Price: </dt>
            <dd>{{price}}</dd>
        </dl>
        <img width='500px' alt="{{name}}" src="{{image}}">
    </div>
{{else}}
    <p id="noItemsText">No items. </p>
{{/each}}
</div>
