{{!shows all the items in the community, as per our deliverables}}
{{#if auth}}
    {{> add_profile_item_json}}
{{/if}}
<div id="communityItemsList">
{{#each items}}
    <div>
        <h2><a href="/items/{{_id}}">{{name}}</a></h2>
        <dl>
            <dt>Description: </dt>
            <dd>{{desc}}</dd>
            <dt>Price: </dt>
            <dd>{{price}}</dd>
        </dl>
        <img width='500px' alt="{{name}}" src="{{image}}">
    </div>
{{else}}
    <p id="noItemsText">No items. :(</p>
{{/each}}
</div>
