{{> profile_nav}}

<ul>
    {{#each errors}}
        <li class="error">{{this}}</li>
    {{/each}}
</ul>

<!-- Adding a profile item Handlebars -->
<button id="openAddProfileItem">Add New Item</button>
<dialog id="addProfileItem">
    <button id="closeAddProfileItem" aria-label="close" formnovalidate>X</button>
    <form action="/profile/items" method="post" enctype="multipart/form-data">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">
        <br>

        <label for="desc">Description: </label>
        <input type="text" id="desc" name="desc">
        <br>

        <label for="price">Price: </label>
        <input type="number" id="price" name="price">
        <br>

        <label for="Image">Image: </label>
        <input type="file" name="image" accept=".jpeg, .png, .jpg" id="image">
        <br>

        <input type="submit" value="Add">
    </form>
</dialog>

{{#each items}}
    <div>
        <h2><a href="/profile/items/{{_id}}">{{name}}</a></h2>
        <dl>
            <dt>Description: </dt>
            <dd>{{desc}}</dd>
            <dt>Price: </dt>
            <dd>{{price}}</dd>
        </dl>
        <img width='500px' alt="{{name}}" src="{{image}}">
    </div>
{{else}}
    <p>No items. Add one!</p>
{{/each}}