{{> profile_nav}}

<hr>

<ul>
    {{#each errors}}
        <li class="error">{{this}}</li>
    {{/each}}
</ul>

<!-- Editing Profile Item Handlebars -->
{{> edit_profile_item}}

<!-- Deleting a profile item. -->
{{> delete_profile_item}}

<div>
    <dl>
        <dt>Description: </dt>
        <dd>{{item.desc}}</dd>
        <dt>Price: </dt>
        <dd>{{item.price}}</dd>
    </dl>
    <img width='500px' alt="{{item.name}}" src="{{item.image}}">
</div>