{{!views an individual profile of the user}}
{{> profile_nav}}
<hr>

<div>
    <h2>{{firstName}} {{lastName}}</h2>
    <dl>
        <dt>Username: </dt>
        <dd>{{username}}</dd>
        <dt>Email: </dt>
        <dd>{{email}}</dd>

        <dt>Items: </dt>
        {{#each items}}
            <dd>{{this.name}}</dd>
        {{else}}
            <dd>No items</dd>
        {{/each}}

        <dt>Followers: </dt>
        {{#each followers}}
            <dd><a href="/profiles/{{this._id}}">{{this.username}}</a></dd>
        {{else}}
            <dd>None</dd>
        {{/each}}

        <dt>Following: </dt>
        {{#each following}}
            <dd><a href="/profiles/{{this._id}}">{{this.username}}</a></dd>
        {{else}}
            <dd>None</dd>
        {{/each}}


        {{#if avgRating}}
            <dt>Average Rating: </dt>
            <dd>{{avgRating}}</dd>
        {{/if}}
    </dl>
    <h3>Wishlist</h3>
    <ul>
        {{#each wishlist}}
            <li>{{this}}</li>
        {{else}}
            <li>No wishlist yet!</li>
        {{/each}}
    </ul>
    <h3>Reviews</h3>
    <ul>
        {{#each reviews}}
            <li><a href="/profiles/{{this.userId}}">{{this.username}}</a>
                <ul>
                    <li>Comment: {{this.comment}}</li>
                    <li>Rating: {{this.rating}}</li>
                    <li>Time: {{this.timestamp}}</li>
                </ul>
            </li>
        {{else}}
            <li>No reviews yet!</li>
        {{/each}}
    </ul>
</div>