{{> profile_nav}}

<ul>
    {{#each errors}}
        <li class="error">{{this}}</li>
    {{/each}}
</ul>

<!-- Adding a profile item Handlebars -->
{{> add_profile_item}}

{{#each items}}
    <div>
        <h2><a href="/profile/items/{{_id}}">{{name}}</a></h2>
        <dl>
            <dt>Description: </dt>
            <dd>{{desc}}</dd>
            <dt>Price: </dt>
            <dd>{{price}}</dd>
        </dl>
        <img width='500px' alt="{{name}}" src="{{image}}">
    </div>
{{else}}
    <p>No items. Add one!</p>
{{/each}}