{{!views an individual trade between the current user and another user}}
<div id="trade">
    <p>Status: {{trade.status}}</p>
    <p>{{trade.otherUser.username}}'s offerings</p>
    {{#each trade.otherUserItems}}
    <div id="trade-item">
        <p>{{this.name}}: ${{this.price}}</p>
        <img src="{{this.image}}"> 
        <p>{{this.desc}}</p>
    </div>
    {{/each}}
    
    <p>{{trade.thisUser.username}}'s offerings</p>
    {{#each trade.thisUserItems}}
    <div id="trade-item">
        <p>{{this.name}}: ${{this.price}}</p>
        <img src="{{this.image}}"> 
        <p>{{this.desc}}</p>
    </div>
    {{/each}}
</div>