{{!views an individual trade between the current user and another user}}
{{> new_trade_form}}
<div class="trade">
    <p>Status: {{status}}</p>
    <p><a href="/profiles/{{otherUser._id}}">{{otherUser.username}}</a>'s offerings</p>
    {{#each otherUserItems}}
    <div class="trade-item">
        <p>{{this.name}}: ${{this.price}}</p>
        <img src="{{this.image}}" alt="{{this.desc}}"> 
        <p>{{this.desc}}</p>
    </div>
    {{/each}}

    <p>{{thisUser.username}}'s offerings</p>
    {{#each thisUserItems}}
    <div class="trade-item">
        <p>{{this.name}}: ${{this.price}}</p>
        <img src="{{this.image}}" alt="{{this.desc}}"> 
        <p>{{this.desc}}</p>
    </div>
    {{/each}}
    <form action="/trade/{{_id}}" method="delete">
    <button type="submit">Cancel/Delete This Trade</button>
    </form>
</div>